@charset "utf-8";
/* CSS Document */ :root {
  --main_page-bg-color: #333;
  --left-bg-color: rgba(216, 183, 212, 0.7);
  --left-button-hover-color: rgba(107, 59, 97, 0.3);
  --right-bg-color: rgba(159, 237, 212, 0.7);
  --right-button-hover-color: rgba(1, 99, 103, 0.3);
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 1000ms;
}
html, body {
  padding: 0;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
#about_me {
  visibility: hidden;
  display: block;
  position: absolute;
  transform: translateX(-50%);
  text-align: center;
  top: 50%;
  left: 50%;
  animation: fadeIn ease 1000ms;
}
.button {
  display: block;
  position: absolute;
  left: 50%;
  top: 40%;
  height: 2.5rem;
  padding-top: 1.3rem;
  width: 15rem;
  text-align: center;
  color: #fff;
  border: #fff solid 0.2rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transform: translateX(-50%);
}
.profile_photo {
  transform: translateX(-50%);
  height: 18rem;
  width: 15rem;
  left: 50%;
  display: block;
  top: 5%;
  position: absolute;
  border-radius: 10px;
  white-space: nowrap;
}
.front_left {
  visibility: visible;
  transition: 5s;
  align-content: center;
}
.page_name{
  transfrom:translateX(-50%);
text-color:black;
position:absolute;
left: 40%;}

.split.left .button:hover {
  background-color: var(--left-button-hover-color);
  border-color: var(--left-button-hover-color);
}
.split.right .button:hover {
  background-color: var(--right-button-hover-color);
  border-color: var(--right-button-hover-color);
}
.main_page {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--main_page-bg-color);
}
.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.split.left {
  left: 0;
  background: url('https://image.ibb.co/m56Czw/designer.jpg') center center no-repeat;
  background-size: cover;
}
.split.left:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--left-bg-color);
}
.split.right {
  right: 0;
  background: url('https://image.ibb.co/m3ZbRb/programmer.png') center center no-repeat;
  background-size: cover;
}
.split.right:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--right-bg-color);
}
.split.left, .split.right, .split.right:before, .split.left:before {
  transition: var(--speed) all ease-in-out;
}
.hover-left .left {
  width: var(--hover-width);
}
.hover-left .right {
  width: var(--other-width);
}
.hover-left .right:before {
  z-index: 2;
}
.hover-right .right {
  width: var(--hover-width);
}
.hover-right .left {
  width: var(--other-width);
}
.hover-right .left:before {
  z-index: 2;
}
.hide {
  display: none;
}
@media(max-width : 1735px) {
  h1 {
    font-size: 2rem;    
  }
  .button {
    width: 12rem;
  }
}
@media(max-height: 700px) {
  .button {
    top: 70%;
  }
}

#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: -95px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 20px; /* 15px padding */
  width: 100px; /* Set a specific width */
  height: 150px;
  padding-top: 100px;
  padding-bottom: 100px;
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}
#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}
/* The about link: 20px from the top with a green background */
#about {
  top: 20px;
  background-color: #4CAF50;
}
#blog {
  top: 160px;
  background-color: #2196F3; /* Blue */
}
#projects {
  top: 300px;
  background-color: #f44336; /* Red */
}
#contact {
  top: 440px;
  background-color: #555 /* Light Black */
}
